@import '../../assets/sass/tools';

nav {
	display: grid;
	margin: 0 -9999rem;
	background: $footerBackground;
	min-height: 70px;
	border-bottom: 1px solid $borderBackgroundOne;

	svg {
		opacity: 0.8;
	}
}

.innerNav {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 0;
	width: 90vw;
}

@media screen and (min-width: $media_breakpoint_mobile) {
	.innerNav {
		width: $media_breakpoint_mobile;
	}
}

@media screen and (min-width: $media_breakpoint_wide) {
	.innerNav {
		width: $media_breakpoint_wide;
	}
}

:global .inner-nav {
	background: transparent;
}

.navLeftColumn {
	h1 {
		@include font-calculator($font_family_header, 20px, 0);
		color: $headerColour;
	}
}

// refactor
:global .display-menu {
	display: block !important;
}

.navRightColumn {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	label {
		color: transparent;
		font-size: 0;
		width: 33px;
		height: 33px;
		background: no-repeat center center $mobileMenu;
		background-size: contain;
		cursor: pointer;
		opacity: 0.8;
	}

	input[type=checkbox] {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
}

.navLeftColumn {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

@media screen and (max-width: $media_breakpoint_mobile) {

	.closeMenu {
		background: no-repeat center center $closeMenu;
		width: 30px;
		height: 30px;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 10;
		cursor: pointer;
		display: none;
	}

	.navRightColumn {
		input[type=checkbox] ~ ul {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding: 62px 0;
			text-align: center;
			background: $mobileNavBackgroundColor no-repeat center center $mobileNavBackground;
			z-index: 1;
			display: none;

			li {
				@include font-calculator($font_family_body, 18px, 0.5);
				font-weight: 300;
				span {
					background: $mobileNavBackgroundColor;
					padding: 5px;
				}
			}

			a:link {
				color: white;
				text-decoration: none;
			}

			a:visited {
				color: white;
			}

			a:focus {
				color: white;
			}

			a:hover {
				color: white;
				text-decoration: underline;
				text-decoration-skip: edges;
				text-decoration-color: white;
			}

			a:active {
				color: white;
			}
		}
	}
}

a:link {
	color: $linkState;
	text-decoration: none;
}

a:visited {
	color: $linkState;
}

a:focus {
	color: $linkState;
}

a:hover {
	color: $linkState;
	text-decoration: underline;
	text-decoration-skip: edges;
	text-decoration-color: $headerColour;
}

a:active {
	color: $linkState;
}

@media screen and (min-width: $media_breakpoint_mobile) {

	.navLeftColumn {
		h1 {
			@include font-calculator($font_family_header, 20px, 0);
			color: $headerColour;
		}
	}

	.navRightColumn {
		ul {
			list-style: none;
			li {
				@include font-calculator($font_family_body, 14px, 0);
			}
			a {
				display: inline-block;
			}
			a + a {
				margin-left: 20px;
			}
		}
	}
}
