$media_breakpoint_wide: 979px;
$media_breakpoint_tablet: 979px;
$media_breakpoint_mobile: 767px;

$font_family_body: 'Roboto Mono', monospace;
$font_family_header: 'Roboto Slab', serif;

$baseLineHeight: 2.5;
$baseFontSize: 62.5%;
$baseFontFamily: unquote("'Roboto Mono', monospace");
$secondaryFontFamily: unquote("'Roboto Slab', serif");

$navColour: #636363;
$headerColour: #FF001F;
$secondHeaderColour: #FF0000;
$underlineColour: #DA542F;
$paragraphColour: #6B6A6A;
$borderBackgroundOne: #E5E5E5;
$footerLogoColour: #949494;
$footerLinkColour: #858585;
$footerBackground: #FAFAFA;
$linkState: #636363;
$inputFont: #696969;
$labelFont: #696969;
$formResults: #959595;
$mobileNavBackground: #515151;
$mobileSearchBorder: #D2D2D2;
$recordsPageBorder: #E5E5E5;
$commentsTextareaBorder: #d7d7d7;
$commentHeader: #696969;
$categoryBorder: #bdbdbd;
$categoryText: #959595;
$commentsSubmitBackground: #DA542F;
$contactInputBorder: #979797;

// admin
$formSubmitHover: #dedede;
$footerAdminBackground: #ffffff;
$error: #FF0000;

// images
$headerBackground: url('/app/assets/graphics/HEADER_TEXTURE.png');
$mobileMenu: url('/app/assets/graphics/burger_menu.svg');
$closeMenu: url('/app/assets/graphics/close_menu.png');
$videoExample: url('/app/assets/graphics/Video_example_image.png');
$avatar: url('/app/assets/graphics/Avatar_default_pic.png');
