$media_breakpoint_wide: 979px;
$media_breakpoint_tablet: 979px;
$media_breakpoint_mobile: 767px;

$font_family_body: 'Roboto Mono', monospace;
$font_family_header: 'Roboto Slab', serif;

$baseLineHeight: 2.5;
$baseFontSize: 62.5%;
$baseFontFamily: unquote("'Roboto Mono', monospace");
$secondaryFontFamily: unquote("'Roboto Slab', serif");

$navColour: #636363;
$headerColour: #FF001F;
$secondHeaderColour: #FF0000;
$underlineColour: #DA542F;
$paragraphColour: #6B6A6A;
$borderBackgroundOne: #E5E5E5;
$footerLogoColour: #949494;
$footerLinkColour: #858585;
$footerBackground: #FAFAFA;
$linkState: #636363;
$inputFont: #696969;
$formResults: #959595;

// images
$headerBackground: url('/app/assets/graphics/HEADER_TEXTURE.png');
