@import 'variables';
@import 'mixins';

@import 'starter';

body {
	font-family: $font_family_body;
	font-weight: 400;
}

p {
	@include font-calculator($font_family_body, 14px);
}

h1, h2, h3, h4, h5 h6 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5 h6 {
	@include font-calculator($font_family_header, 20px);
}

.wrapper {
	width: $media_breakpoint_wide;
	margin: 10px auto;
}

nav {
	font-weight: 500;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 0;
	ul {
		list-style: none;
		a {
			display: inline-block;
		}
		a + a {
			margin-left: 20px;
		}
	}
}

a:link {
	color: $linkState;
	text-decoration: none;
}
a:visited {
	color: $linkState;
}
a:focus {
	color: $linkState;
}
a:hover {
	color: $linkState;
	text-decoration: underline;
	text-decoration-skip: edges;
	text-decoration-color: $headerColour;
}
a:active {
	color: $linkState;
}

@supports not (text-decoration-color: $headerColour) {
	a:hover {
		color: $headerColour;
	}
}
