@import 'variables';
@import 'mixins';
@import 'starter';

body {
	font-family: $font_family_body;
	font-weight: 500;
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
}

html, body {
	overflow-x: hidden;
}

p {
	@include font-calculator($font_family_body, 14px);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	@include font-calculator($font_family_header, 20px);
}

:global .search-form {
	min-height: 22px;
	width: 100%;

	input {
		@include font-calculator($font_family_body, 16px, 0);
		color: $inputFont;
		width: 100%;
		text-align: center;
		min-height: 22px;
		border: 1px solid $mobileSearchBorder;
	}
}

@media screen and (min-width: $media_breakpoint_mobile) {
	:global .search-form input {
		border: none;
	}
}

// temp styling
:global .search-results {
	max-height: 120px;
	overflow: hidden;
	margin-top: 20px;
	> span {
		display: block;
		color: $formResults;
		@include font-calculator($font_family_body, 16px, 0.5);
		line-height: 1em;
	}
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	}
}

@media screen and (min-width: $media_breakpoint_mobile) {
	:global .hidden-desktop {
		display: none;
	}
}

@supports not (text-decoration-color: $headerColour) {
	a:hover {
		color: $headerColour;
	}
}

// global classes

:global .wrapper {
	margin: 0 auto;
	padding: 0 10px;
}

@media screen and (min-width: $media_breakpoint_mobile) {
	:global .wrapper {
		width: $media_breakpoint_mobile;
		padding: initial;
	}
}

@media screen and (min-width: $media_breakpoint_wide) {
	:global .wrapper {
		width: $media_breakpoint_wide;
	}
}
/* selected link */

:global .hide {
	display: none;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

:global .visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* clearfix */

:global .clearfix::before,
:global .clearfix::after {
	content: '\0020';
	display: block;
	height: 0;
	overflow: hidden;
}

:global .clearfix::after {
	clear: both;
}

:global .display-flow-root {
	display: flow-root;
}

:global .flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

// new aspect ration techniques here using Grid and SVG:
// https://justmarkup.com/log/2018/03/collection-of-css-snippets
// https://codeburst.io/keeping-aspect-ratio-with-html-and-no-padding-tricks-40705656808b
:global .old-aspect-ratio.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */
	padding-top: 25px;
	height: 0;
}

:global .old-aspect-ratio.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

:global .ellipsis {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

:global .truncated {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 15rem;
}

:global .video-title {
	@include font-calculator($font_family_body, 16px, 0.5);
	color: $paragraphColour;
	display: inline-block;
	line-height: 1.2em;
	margin: 10px 0 0;
}

@media screen and (min-width: $media_breakpoint_mobile) {
	:global .video-title {
		@include font-calculator($font_family_body, 14px);
	}
}

