@import 'tools';

/* selected link */

.hide {
	display: none;
}
/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
/* clearfix */

.clearfix::before,
.clearfix::after {
	content: '\0020';
	display: block;
	height: 0;
	overflow: hidden;
}
.clearfix::after {
	clear: both;
}

.display-flow-root {
	display: flow-root;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

// new aspect ration techniques here using Grid and SVG:
// https://justmarkup.com/log/2018/03/collection-of-css-snippets
// https://codeburst.io/keeping-aspect-ratio-with-html-and-no-padding-tricks-40705656808b
.old-aspect-ratio.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */
	padding-top: 25px;
	height: 0;
}

.old-aspect-ratio.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ellipsis {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.truncated {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 15rem;
}

.wrapper {
	width: $media_breakpoint_wide;
	margin: 10px auto;
}
