# Browsers that we support
last 2 version
not ie_mob > 0
not Explorer > 0
not BlackBerry > 0
not OperaMini > 0
not QQAndroid > 0
not UCAndroid > 0
not kaios > 0
not OperaMini > 0
not Baidu > 0
not OperaMobile > 0
not op_mini > 0
