{
	"env": {
		"browser": true,
		"es6": true,
		"jasmine": true,
		"node": true
	},
	"plugins": [
		"jasmine",
		"react",
		"vue",
		"security",
		"jsx-a11y"
	],
	"parserOptions": {
		"parser": "babel-eslint",
		"sourceType": "module",
		"allowImportExportEverywhere": false,
		"codeFrame": false
	},
	"globals": {
		"inject": true,
		"react": true,
		"vue": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:vue/strongly-recommended",
		"plugin:security/recommended"
	],
	"rules": {
		"vue/html-indent": 0
	}
}
