{
	"env": {
		"browser": true,
		"es6": true,
		"jasmine": true,
		"node": true
	},
	"parser": "vue-eslint-parser",
	"plugins": [
		"jasmine",
		"react",
		"vue"
	],
	"parserOptions": {
		"sourceType": "module",
		"allowImportExportEverywhere": false,
		"codeFrame": false
	},
	"globals": {
		"inject": true,
		"react": true,
		"vue": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:vue/recommended"
	],
	"rules": {
		"vue/html-indent": 0
	}
}
