{
	"env": {
		"browser": true,
		"es6": true,
		"jasmine": true,
		"node": true
	},
	"parser": "babel-eslint",
	"plugins": [
		"jasmine"
	],
	"parserOptions": {
		"sourceType": "module",
		"allowImportExportEverywhere": false,
		"codeFrame": false
	},
	"globals": {
		"inject": true,
		"react": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	]
}
