@import '../../assets/sass/tools';

.myAccount {
	text-align: center;
	margin: 50px 0 75px 0;

	h2 {
		@include font-calculator($font_family_header, 45px, 0.5);
		color: $secondHeaderColour;
		line-height: 1.2em;
	}

	> p {
		@include font-calculator($font_family_body, 16px, 2);
		color: $paragraphColour;
		line-height: 1.3em;
	}

	section {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 30px;
	}

	form {
		text-align: center;
	}

	legend {
		display: inline-block;
		@include font-calculator($font_family_body, 22px);
	}

	label {
		display: inline-block;
		@include font-calculator($font_family_body, 18px, 0.25);
		font-weight: 300;
	}

	input {
		display: inline-block;
		width: 100%;
		border: 1px solid $contactInputBorder;
		min-height: 50px;
		padding: 10px;
		@include font-calculator($font_family_body, 16px, 0);
	}

	input:not([type='submit']),
	textarea {
		margin-bottom: 20px;
	}

	input[type='submit'] {
		@include font-calculator($font_family_body, 18px, 0);
		color: white;
		background: $commentsSubmitBackground;
		margin-top: 20px;
	}

	.error {
		color: $error;
	}
}
