@import '../assets/sass/tools';

.innerFooter {
	display: flex;
	flex-direction: column;
	text-align: center;

	.footerRightColumn {
		order: -1;
	}
}

.footerLeftColumn {
	p {
		@include font-calculator($font_family_header, 20px, 0);
		color: $footerLogoColour;
	}
}

:global .inner-footer {
	ul {
		list-style: none;
		li {
			@include font-calculator($font_family_body, 16px, 0);
		}
		a {
			display: block;
			color: $footerLinkColour;
			text-decoration: none;
		}
	}
}

@media screen and (max-width: $media_breakpoint_mobile) {
	:global .inner-footer {
		ul {
			a {
				text-decoration: none;
			}
		}
	}
}

@media screen and (min-width: $media_breakpoint_mobile) {

	footer {
		display: grid;
		margin: 0 -9999rem;
		background: $footerBackground;
		border-top: 1px solid $borderBackgroundOne;
	}

	:global .inner-footer {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 0;
		min-height: 70px;
		ul {
			a {
				display: inline-block;
			}
			a + a {
				margin-left: 20px;
			}
		}
	}

	.innerFooter {
		display: grid;
		text-align: initial;

		.footerRightColumn {
			order: initial;
		}
	}

	.innerFooter {
		display: grid;
		text-align: initial;
	}

	.footerLeftColumn {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.footerRightColumn {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}


