@import '../assets/sass/tools';

.innerHeader {
	display: grid;
	grid-template-columns: 38.197% 61.803%;
	grid-gap: 0;
	min-height: 264px;
}

.headerLeftColumn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.headerRightColumn {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;

	h2 {
		@include font-calculator($font_family_header, 45px, 0.5);
		font-weight: 500;
		color: $secondHeaderColour;
		line-height: 1em;
	}
	p {
		@include font-calculator($font_family_header, 22px, 0);
		color: $paragraphColour;
		font-weight: 500;
		line-height: 1.2em;
	}
}
