@import '../assets/sass/tools';

.headerLeftColumn {
	background: lightblue;
}

.headerRightColumn {
	background: lightpink;

	h2 {
		@include font-calculator($font_family_header, 45px, 0);
		font-weight: 500;
		color: $secondHeaderColour;
	}
	p {
		@include font-calculator($font_family_header, 22px);
		color: $paragraphColour;
		font-weight: 500;
	}
}

