@import '../assets/sass/tools';

.search {
	background: transparent;


	.searchForm {
		background: transparent;
	}

	.searchName {
		background: transparent;
	}

	h4 {
		@include font-calculator($font_family_header, 16px);
		color: $secondHeaderColour;
		font-weight: 300;
	}
}
