@import '../assets/sass/tools';

.search {
	background: transparent;

	.searchForm {
		input[type=text] {
			min-width: 75%;
			min-height: 25px;
			padding: 5px;
		}
	}

	.searchName {
		background: transparent;
	}

	h4 {
		@include font-calculator($font_family_header, 16px, 0.5);
		color: $secondHeaderColour;
		font-weight: 300;
		line-height: 1.1em;
	}
}
