@import '../assets/sass/tools';

.navLeftColumn {
	h1 {
		@include font-calculator($font_family_header, 20px, 0);
		color: $headerColour;
	}

	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.navRightColumn {

	display: flex;
	align-items: center;
	justify-content: flex-end;
}
