@import '../assets/sass/tools';

.recordListing {

	h2 {
		@include font-calculator($font_family_header, 35px, 0.5);
		color: $secondHeaderColour;
		line-height: 1.2em;
	}

	h3 {
		@include font-calculator($font_family_header, 22px);
		color: $paragraphColour;
		text-align: center;
		// needs own class name
		~ p {
			@include font-calculator($font_family_body, 14px, 0.5);
			color: $paragraphColour;
			text-align: center;
			a {
				color: $linkState;
				text-decoration: underline;
				text-decoration-skip: edges;
				text-decoration-color: $headerColour;
			}
		}
	}

	h4 {
		@include font-calculator($font_family_header, 22px);
		color: $paragraphColour;
	}

	p {
		@include font-calculator($font_family_body, 22px, 0.5);
		color: $paragraphColour;
		line-height: 1.3em;
	}

	.hide {
		display: none;
	}

	.show {
		display: inherit;
	}

}

@media screen and (min-width: $media_breakpoint_wide) {

	.recordListing {
		width: 804px;
		margin: 0 auto;
		img {
			width: 100%;
		}
	}
}

.record {
	text-align: center;
	display: inline-block;
	margin: 50px 0 10px 0;
	width: 100%;
}

@media screen and (min-width: $media_breakpoint_wide) {
	.record {
		margin: 50px 0 50px 0;
		text-align: center;
	}
}

.description p {
	@include font-calculator($font_family_body, 18px);
	font-weight: 300;
}

.categories {
	background: transparent;
	text-align: center;
	margin: 50px 0 0 0;
	ul {
		li {
			color: $categoryText;
			@include font-calculator($font_family_body, 16px, 0);
			padding: 5px 10px;
			margin: 0 5px 10px 0;
			border: 1px solid $categoryBorder;
			display: inline-block;
		}
	}
}

.videoContainer {
	text-align: center;
	margin: 0 0 20px 0;
}

.videoSineWave {
	background: transparent;
}

.recommendedVideos {
	border-top: 1px solid $recordsPageBorder;
	padding: 20px 0 0 0;
	text-align: center;
}

.pageUnit {
	background: transparent;
}

.videoUnits {
	background: transparent;
}

.videoCaption {
	display: block;
	@include font-calculator($font_family_body, 20px);
	color: $labelFont;
}

@media screen and (min-width: $media_breakpoint_mobile) {

	.recordListing {
		padding: 40px 0;
	}

	.recordListing {
		min-height: 180px;
		padding: initial;
	}
}

.sinewave {
	background: transparent;
}
