@import '../../assets/sass/tools';

.contactPage {
	text-align: center;
	margin: 50px 0 75px 0;

	h2 {
		@include font-calculator($font_family_header, 45px, 0.5);
		color: $secondHeaderColour;
		line-height: 1.2em;
	}

	p {
		@include font-calculator($font_family_body, 16px);
		color: $paragraphColour;
		line-height: 1.3em;
	}

	form {
		max-width: 480px;
		margin: 0 auto;
	}

	label {
		display: inline-block;
		@include font-calculator($font_family_body, 18px, 0.25);
		font-weight: 300;
	}

	input {
		display: inline-block;
		width: 100%;
		border: 1px solid $contactInputBorder;
		min-height: 50px;
		padding: 10px;
	}

	textarea {
		display: inline-block;
		width: 100%;
		border: 1px solid $contactInputBorder;
		min-height: 200px;
		padding: 15px;
	}

	input,
	textarea {
		@include font-calculator($font_family_body, 16px, 0);
	}

	input:not([type='submit']),
	textarea {
		margin-bottom: 30px;
	}

	input[type='submit'] {
		@include font-calculator($font_family_body, 18px, 0);
		color: white;
		background: $commentsSubmitBackground;
	}
}
