@import '../../assets/sass/tools';

.search {
	.searchForm {
		input[type=text] {
			min-width: 75%;
			min-height: 25px;
			padding: 5px;
		}
	}

	.searchName {
		background: transparent;

		> p {
			@include font-calculator($font_family_header, 13px, 1);
			color: $secondHeaderColour;
			font-weight: 300;
			line-height: 1.5em;
			margin-top: 20px;
		}
	}

	h4 {
		@include font-calculator($font_family_header, 16px, 0.5);
		color: $secondHeaderColour;
		font-weight: 300;
		line-height: 1.1em;
	}
}
