@import '../../assets/sass/tools';

.search {
	.searchForm {
		input[type=search] {
			appearance: none;
			-webkit-appearance: textfield;
			min-width: 75%;
			height: 30px;
			line-height: 30px;
			padding: 5px;
			border: 1px solid $footerBackground;
			box-shadow: inset 0 5p 5px darken($footerBackground, 50%);
			margin-bottom: 50px;
		}
	}

	.searchName {
		> p {
			@include font-calculator($font_family_header, 13px, 1);
			color: $secondHeaderColour;
			font-weight: 300;
			line-height: 1.5em;
			margin-top: 20px;
		}
	}

	h4 {
		@include font-calculator($font_family_header, 16px, 0.5);
		color: $secondHeaderColour;
		font-weight: 300;
		line-height: 1.1em;
	}
}
